button {
    background-color: black;
    padding: 5px 10px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: calc(20px + 2vmin);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #ff7676;
}

.activeButton {
    background-color: #ff7676;
}

.bigNumbers, .answerSection {
    text-align: center;
}

.hidden {
    display: none;
    max-height: 0px;
    transition:max-height 1s ease-in; 
}

.answerSection {
    /* transition: visibility 0s, opacity 0.5s linear; */
    display: block;
    max-height: 500px;
    transition:max-height 1s ease-out;
}

.target {
    color: #90ee90;
    font-size: calc(50px + 2vmin);
}

.result {
    color: #E34234;
    font-size: calc(50px + 2vmin);
}

.targetReached {
    color: #90ee90;
}

.fiveAway {
    color: #FFBF00;
}

.tenAway {
    color: #FF7F00;
}

.values {
    font-size: calc(20px + 2vmin);
    color: white;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    background: #008296;
    border: 1px solid white;
}

.answerInput {
    width: 60%;
    font-size: calc(20px + 2vmin);
    margin: auto;
    display: block;
    border-radius: 22px;
    padding: 5px 20px;
    margin-top: 20px;
    border: none;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
}

::-webkit-input-placeholder {
    font-size: 20px;
    vertical-align: middle;
  }

  input:focus {
    outline:none;
    border: 1px solid #ff7676;
}

button:focus {
    outline: none;
}

.backButton {
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    border: none;
    padding: 0;
}
.target span {
    border: 1px solid #90ee90;
    padding: 0 10px;
}

.small {
    font-size: 20px;
    margin-top: 10px;
}

.target {
    animation: randomGen (300 / 3 / 15) + s steps(300 / 3) infinite;
  }
  
  @keyframes randomGen {
    100% { transform: translateX(-300 / 3 * 100%); }
  }
  
  
  #pause:checked ~ div div {
    animation-play-state: paused;
  }


.animateUp {
    /* -webkit-transform: translateY(150px);
    transform: translateY(150px);
    -webkit-animation: moveUp 0.45s ease forwards;
    animation: moveUp 0.45s ease forwards;
    animation-delay: 1s;
    opacity: 0; */
}

@media only screen and (max-width: 800px) {
    .bigNumbers {
        margin-top: 50px;
    }
}




  