.conundrum {
    text-align: center;
}

.word {
    font-size: calc(50px + 2vmin);
    color: #90ee90;
}

input {
    width: 40%;
}
.showSolution {
    font-size: calc(20px + 2vmin);
    color: #90ee90;
}

.resetButton {
    position: absolute;
    top: 0;
    right: 0;
    background: inherit;
    border: none;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    input {
        width: 90%;
    }
    .conundrum {
        margin-top: 50px;
    }
  }
